doctype html
html
  head
    meta charset="utf-8"
    title Molecule - Examples
    script src="molecule.js"
    link rel="stylesheet" href="example.css"
    link rel="stylesheet" href="molecule.css"

  body
    header
      h1 Molecule: Examples
    article
      markdown:
        List of examples showing molecule components, styles and
        configuration options.

        * [Button](button.html) examples showing usage of single
          buttons and button groups
        * [Input](input.html) shows input elements
        * [Group](group.html) grouping components
        * [Select](select.html) select components

        ## Notice for React examples

        The function `React.createElement` is aliased as `$` allowing
        to write simple nested things in coffeescript like this:

            $ 'div', null,
              $ Molecule.Button, null, 'Button A'
              $ Molecule.Button, null, 'Button B'

        This will render a div tag containing two buttons without
        using `React.DOM` or `createFactory`. This style is not necessary
        but only a personal preference.
